#DeGiroWrapper {
	font-size: 0.8em;
	line-height: 38px;
}

#DeGiroWrapper table td, 
#DeGiroWrapper table th {
    padding-right: 20px;
}

#DeGiroWrapper table th {
    background-color: #aaa;
	color: black;
}

#DeGiroWrapper table tr:nth-child(odd) {
    background-color: #222;
}

#DeGiroWrapper table td.positive {
    color: #197B30;
}
#DeGiroWrapper table td.negative {
    color: #FF0000;
}